body { 
    background-color: #cccccc;
}

h1 {
    text-align: center;
    height: 150px; 
    border: 10px solid black;
    padding-top: 20px; 
    margin-left: 15px; 
} 

h2 {
    text-align: center;
}

#banner { 
    font-style: italic; 
    width: 100%; 
} 

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.beneficios { 
    background: #776b6b; 
    padding: 30px;
} 

.principal { 
    background: #cccccc; 
    padding: 20px;
}

.itens {
    font-style: italic;
}
