h1 { 
    background-color: #cccccc; 
    text-align: center;
    height: 50px; 
    border: 10px solid black;
    padding-top: 20px; 
    margin-left: 15px; 
} 

#banner { 
    font-style: italic; 
    width: 100%; 
} 

.beneficios { 
    background: #776b6b; 
} 

.principal { 
    background: #cccccc; 
}

